/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* intro box styles */
.intro-box {
    display: flex;
    background-color: black;
    color: white;
    /* border: 2px solid black; */
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 8%;
    border-radius: 15px;
    /* padding-bottom: 30px; */
}

.intro-title {
    margin-left: 3%;
    margin-top: 3%;
    width: 60%;
}

.intro-title h1 {
    font-weight: 700;
    font-size: 50px;
    margin: 15px;
}

.intro-title p {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.streaming {
    text-decoration: none;
    padding: 15px 25px;
    background: #DD0000;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-left: 15px;

}

.intro-photo img {
    height: 100%;
    transition: 1s ease-in-out;
}

.intro-box:hover .intro-photo img {
    transform: translateX(120px);

}

/* Container */
.container {
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
}

/* Streaming box */

.stream-box {
    height: 200px;
    width: 150px;
    padding: 20px;
    border-radius: 15px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.navigate {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    background-color: rgba(211, 211, 211, 0.507);
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}

.select {
    background-color: tomato;
}



.news-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 10px;
}

.fixture {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.news-box {
    border-radius: 10px;
    border: 0.5px solid lightgray;
    box-shadow: 1px 1px 20px lightgray;
}

.news-box h4 {
    text-align: center;
}

.kotha {
    padding: 20px;
}


.box-image img {
    width: 100%;

}

.box-image img {
    margin-bottom: 1%;
}

.transfer-button {
    width: 80px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 400;
}


.news-icons {
    display: flex;
    align-items: center;
    color: black
}

.fa-comment {
    margin-left: 50%;
}

.only-hidden {
    display: none;
}

.hide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-part {

    color: #FFFFFF;
    padding: 20px;
    background-color: tomato;
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

/* Footer */
.below-footer {
    height: 444px;
    margin-top: 10%;
    border: 2px solid black;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
}


.below-footer h1 {
    font-weight: 600;
    font-size: 40px;

}

.line {
    width: 70%;
}

.bar span {
    color: lightgray;
}

.bar {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-evenly;
}

.contact-sites {
    margin-top: 2%;
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
}

.fa-brands {
    padding: 0px 10px;
    color: lightgray;
}

/* media queries */

/* for tab */

@media only screen and (min-width:576px) and (max-width:992px) {

    .intro-photo {
        margin-top: 5%;
        height: 100%;
    }

    .container {
        flex-direction: column;
    }

    .stream-box {
        align-self: center;
        margin-bottom: 10px;
    }

    .news-boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .only-hidden {
        display: block;
    }
}

/*
For Mobile Devices
 */

@media only screen and (max-width:576px) {


    .container {
        flex-direction: column;
    }

    .news-boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    .stream-box {
        align-self: center;
        margin-bottom: 20px;
    }

    .intro-box {
        flex-direction: column;
    }

    .intro-photo {
        align-self: center;
    }

    .intro-photo img {
        margin-top: 50px;
        height: 103%;

    }

    .intro-title {
        margin-bottom: 20px;
        align-self: center;
    }

    .intro-title h1 {
        font-size: 40px;
    }

    .bar {
        flex-direction: column;
        margin-bottom: 40px;

    }
}